<!doctype html>
<html lang="en" data-dpr="2" style="font-size: 34.7222px;">

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="UTF-8">
    <meta name="keywords" content="index">
    <meta name="description" content="index">
</head>

<body>
    <div id="ensample">
        <label for="">输入举例：</label>
        <div class="alert alert-success">
            #### 亲们，我是钉死你，啦啦啦啦~~~
            <br> > ###### 代码评审委员会
        </div>
        <div class="alert alert-success">
        </div>

    </div>
</body>

</html>