<!doctype html>
<html lang="en" data-dpr="2" style="font-size: 34.7222px;">

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="UTF-8">
    <meta name="keywords" content="index">
    <meta name="description" content="index">
    <link rel="stylesheet" href="https://special.ppmoney.com/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/robotManage.css">
</head>

<body>
    <div id="ensample">
        <label for="">输入举例：</label>
        <div class="alert alert-success">
            #### 亲们，我是钉死你，啦啦啦啦~~~
            <br> > ###### 代码评审委员会
        </div>
        <div class="alert alert-success">
            #### 杭州天气
            <br> > 9度，西北风1级，空气良89，相对温度73%
            <br> > ![screenshot](http://totoro.ppmoney.com/images/logo.png)
            <br> > ###### 10点20分发布 [天气](http://www.thinkpage.cn/)
            <br>
        </div>

    </div>
</body>

</html>