/* 
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
} */
/* .logo {
  font-size: 16px;
  line-height: 64px;
  text-align: center;
  vertical-align: text-bottom;
  font-weight: 700;
  color: #1890ff;
  white-space: nowrap;
}

.ant-layout-header {
  position: relative;
}
.userIcon {
  position: absolute !important;
  top: 14px;
  right: 20px;
  font-size: 23px;
} */